layout {
    background-color "transparent"

    focus-ring {
        active-color   "#85d6c0"
        inactive-color "#89938f"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#85d6c0"
        inactive-color "#89938f"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#85d6c0"
        inactive-color "#89938f"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#85d6c080"
    }
}